.roomdiv
  width: 500px

.pf-name
  margin-top: 200px
  font-family: 'Orbitron', sans-serif

.skill,.project-bg
  background: rgba(233, 204, 204, 0)

.skill-cat
  background: rgba(240, 175, 175, 0.212)

.skill-cat:hover
  padding-left: 50px
  border-top: 1px solid rgba(220, 53, 70, 0.15)
  border-left: 1px solid rgba(220, 53, 70, 0.15)
  background: rgba(236, 151, 151, 0.288)
  box-shadow: 10px 10px 12px rgba(236, 160, 160, 0.171)

.projects
  background: rgba(240, 196, 196, 0.5)

.projects:hover
  transition: 1s
  background: rgba(250, 131, 131, 0.671)
  transform: rotate(5deg)

.contact
  border: 1px solid rgba(220, 53, 70, 0.5)
  border-radius: 10px

.skill-cat,.projects,.service-card
  border-radius: 10px
  strong
    color: rgb(220, 53, 69)

.service-card
  border: 1px solid rgba(220, 53, 70, 0.103)
  box-shadow: 10px 10px 7px rgba(236, 160, 160, 0.2)

.service-card:hover
  transition: 2s
  background: rgba(233, 114, 126, 0.123)
  border: 1px solid rgba(235, 130, 141, 0.459)
  box-shadow: 10px 10px 7px rgba(236, 160, 160, 0.3)

.about
  border-top: 1px solid rgba(220, 53, 70, 0.3)
  border-left: 1px solid rgba(220, 53, 70, 0.3)
  padding: 20px
  box-shadow: 10px 10px 7px rgba(236, 160, 160, 0.3)
  border-radius: 10px

.glass
  backdrop-filter: blur(5px)

.pj-con
  justify-content: space-evenly

.topbtn
  position: fixed
  top: 85%
  left: 90%
  border-radius: 50%

.theme-btn
  position: fixed
  top: 12%
  left: 90%

.theme-btn:hover
  background: rgba(220, 53, 70, 0.322)

@media (max-width: 500px)
  .contact>p
    font-size: 10px

  .theme-btn
    left: 81%

.cv-btn
  width: 120px
  height: 50px
  justify-content: center
  align-items: center
  display: flex
  color: #fff
  border-radius: 5px
